/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
dev-resources/sample/target
dev-resources/sample/classes
dev-resources/sample/checkouts
dev-resources/samplepom.xml
dev-resources/samplepom.xml.asc
dev-resources/sample/*.jar
dev-resources/sample/*.class
dev-resources/sample/.lein-*
dev-resources/sample/.nrepl-port
config.json
